/* THEME OPTIONS ************************** */

/* GLOBAL ********************************* */
/* ----- Body ------------------------ */
/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* ----- Links ----------------------- */
/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
/* ----- Forms ----------------------- */

/* HEADER ********************************* */
/* ----- Header Region --------------- */
#header {
    background: url('../i/chch-paulsmith.png') repeat-x;
    margin: 0;
}
#header > .container {
    margin-top: 20px;
    margin-bottom: 30px;
}
/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */
/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */

/* FOOTER ********************************* */
/* ----- Fat Footer ------------------ */

/* CONTENT ******************************** */
article {
    margin-bottom: 4em;
    border-bottom: 1px solid #dddddd;
}

/* VIEWS ********************************** */
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
.label a {
    color: #ffffff;
}
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */
.field-item.label {
    margin-right: 1em;
}

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
/* ----- Print ----------------------- */
